@import "colors.scss";
@import "screens.scss";
@import "typography.scss";

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: $roboto;
    font-size: $base-font-size;
}

.contact-page {
    .container {
        .bg-content {
            background-color: $color-bg;
            max-width: 1200px;
            margin: auto;
        }

        .wrapper {
            max-width: 1200px;
            margin: auto;
            padding: 2rem;

            header.nav>p#name {
                display: block;
                color: $color-black;
                font-weight: bold;
            }

            &>header.nav {
                top: auto;
                width: 600px;
                display: flex;
                justify-content: space-between;
                padding: 0 2rem 0 1rem;
                overflow: hidden;
                position: relative;

                @media screen and (min-width:$desktop) {
                    min-width: 100%;
                    top: auto;
                    position: relative;
                    padding: 0 3rem;
                }

                a.hamburger {
                    display: block;
                    color: $color-navy;
                    position: absolute;
                    top: 15px;

                    @media screen and (min-width:$desktop) {
                        display: none;
                    }

                }

                ul.navButtons {
                    padding: 0;
                    justify-content: space-around;
                    gap: 1rem;
                    background-color: $color-cream;
                    display: none;

                    @media screen and (min-width:$desktop) {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 1rem;
                    }

                    li {
                        list-style: none;
                        margin: auto;

                        &:first-of-type {
                            @media screen and (min-width:$desktop) {
                                margin-left: 11rem;
                            }
                        }

                    }

                    a {
                        color: $color-black;
                        text-decoration: none;

                        &#active {
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }

    }

    .contact {
        display: flex;
        flex-direction: column;

        @media screen and (min-width:$desktop) {
            flex-direction: row;
            gap: 3rem;
        }

    }

    .contact__text {
        align-items: center;

        h1 {
            text-align: center;
        }

        p {
            text-align: center;
        }
    }

    .contact-detail {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
        flex-wrap: wrap;
        overflow: hidden;

        a {
            background-color: transparent;
            text-decoration: none;
            color: $color-white;
        }

        .contact-detail__icons {
            background-color: $color-cream;
            width: 20px;
            height: 20;
            text-align: center;

            i {
                color: $color-navy;
            }

        }

    }

    .wrapper>footer {
        position: relative;
        top: 250px;
        margin-top: 2rem;
    }

}