@import "colors.scss";
@import "screens.scss";
@import "typography.scss";

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: $roboto;
    font-size: $base-font-size;
}

img {
    max-width: 100%;
}

.skill-page {


    .bg-content {
        background-color: $color-bg;
        max-width: 1100px;
        margin: auto;
    }

    .container {
        .wrapper {
            max-width: 1200px;
            margin: auto;
            padding: 2rem;

            header.nav>p#name {
                display: block;
                color: $color-black;
                font-weight: bold;
            }

            &>header.nav {
                top: auto;
                width: 600px;
                display: flex;
                justify-content: space-between;
                padding: 0 2rem 0 1rem;
                overflow: hidden;
                position: relative;

                @media screen and (min-width:$desktop) {
                    min-width: 100%;
                    top: auto;
                    position: relative;
                    padding: 0 3rem;
                }

                a.hamburger {
                    display: block;
                    color: $color-navy;
                    position: absolute;
                    top: 15px;

                    @media screen and (min-width:$desktop) {
                        display: none;
                    }

                }

                ul.navButtons {
                    padding: 0;
                    justify-content: space-around;
                    gap: 1rem;
                    background-color: $color-cream;
                    display: none;

                    @media screen and (min-width:$desktop) {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 1rem;
                    }

                    li {
                        list-style: none;
                        margin: auto;

                        &:hover {
                            font-weight: bold;
                        }

                        &:first-of-type {
                            @media screen and (min-width:$desktop) {
                                margin-left: 11rem;
                            }
                        }

                    }

                    a {
                        color: $color-black;
                        text-decoration: none;

                        &#active {
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }


        .language-tool {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            padding: 1rem;
            gap: 1rem;
            background-color: $color-cream;

            @media screen and (min-width:$tablet) {
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            }


            @media screen and (min-width:$desktop) {
                display: flex;
                justify-content: space-evenly;
                align-items: center;
                background-color: $color-cream;
                max-width: 1100px;
                flex-shrink: 1;
                height: 200px;
                padding: 0 1rem;
            }

        }

        .language-tool a {
            background-color: transparent;
        }


        .glide {
            width: 100%;
            height: 100%;
            background-color: none;
            position: relative;

            .glide__track {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }

            .glide__slides {
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                padding-left: 0;

                li {
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 2rem;

                    img {
                        width: 100%;
                        height: 300px;
                        object-fit: contain;
                        margin-bottom: 2rem;
                    }

                    .text {
                        color: #f2f2f2;
                        font-size: 15px;
                        padding: 8px 12px;
                        position: absolute;
                        bottom: -5px;
                        width: 100%;
                        text-align: center;
                    }

                }
            }

            .glide__arrows {
                position: absolute;
                top: 50%;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            .glide__bullets {
                display: flex;
                justify-content: center;
                gap: 5px;

                button {
                    width: 10px;
                    height: 10px;
                    border-radius: 100%;
                    border: none;
                    cursor: pointer;

                    &:hover {
                        background-color: $color-cream;
                    }
                }
            }

        }



    }




}