@import "colors.scss";
@import "screens.scss";
@import "typography.scss";

* {
    box-sizing: border-box;
}

html {
    margin: 0;
    font-family: $roboto;
    font-size: $base-font-size;
}

.workExp-page {




    .container {
        .bg-content {
            background-color: $color-bg;
            max-width: 1100px;
            margin: auto;

        }

        main {

            #resume {
                border-radius: 20px;
                padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                box-shadow: 0px 1px 2px 0px gray;
                background-color: $color-white;
                text-decoration: none;
                color: $color-black;
            }
        }



        .work-experience {

            a {
                color: $color-black
            }

            .resume {
                display: inline-block;
                padding-left: 4rem;

                @media screen and (min-width:$desktop) {
                    position: relative;
                    left: 30%;
                    display: inline-block;
                }


                #resume {
                    border-radius: 20px;
                    padding: 0.5rem 1.5rem 0.5rem 1.5rem;
                    box-shadow: 0px 1px 2px 0px gray;
                    background-color: $color-white;
                    text-decoration: none;
                    color: $color-black;
                }
            }



            &>ul {
                list-style: none;
            }

            .mainExp {
                margin-top: 1rem;
                margin-bottom: 3rem;
            }

            .mainExp>li {
                position: relative;



                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -30px;
                    display: block;
                    background-color: $color-cream;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;

                }

                &:after {
                    content: '';
                    position: absolute;
                    top: 1px;
                    left: -25px;
                    width: 10px;
                    height: 680px;
                    background-color: $color-cream;

                    @media screen and (min-width:$tablet) {
                        height: 350px;
                    }

                    @media screen and (min-width:$desktop) {
                        height: 300px;
                    }
                }

                &:last-child:after {
                    content: none;
                }

                p {
                    margin-bottom: 0;
                }
            }
        }

        .wrapper {

            header.nav>p#name {
                display: block;
                color: $color-black;
                font-weight: bold;
            }

            &>header.nav {
                top: auto;
                width: 600px;
                display: flex;
                justify-content: space-between;
                padding: 0 2rem 0 1rem;
                overflow: hidden;
                position: relative;

                @media screen and (min-width:$desktop) {
                    min-width: 100%;
                    top: auto;
                    position: relative;
                    padding: 0 3rem;
                }

                a.hamburger {
                    display: block;
                    color: $color-navy;
                    position: absolute;
                    top: 15px;

                    @media screen and (min-width:$desktop) {
                        display: none;
                    }

                }

                ul.navButtons {
                    padding: 0;
                    justify-content: space-around;
                    gap: 1rem;
                    background-color: $color-cream;
                    display: none;

                    @media screen and (min-width:$desktop) {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 1rem;
                    }

                    li {
                        list-style: none;
                        margin: auto;

                        &:first-of-type {
                            @media screen and (min-width:$desktop) {
                                margin-left: 11rem;
                            }
                        }

                    }

                    a {
                        color: $color-black;
                        text-decoration: none;

                        &#active {
                            font-weight: bold;
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
}