@import "colors.scss";
@import "typography.scss";
@import "screens.scss";

* {
    box-sizing: border-box;
}

html {
    font-family: $roboto;
    font-size: $base-font-size;
}

body {
    margin: 0;
    padding: 0;
    background-color: $color-navy;
    color: $color-white;
}

.container {
    .wrapper {
        max-width: 1200px;
        margin: auto;
        padding: 2rem;

        .home {
            padding-top: 4rem;
            padding-bottom: 7rem;
            display: flex;
            flex-direction: column-reverse;
            flex-wrap: wrap;

            .box__image {
                align-self: center;
                width: 200px;
                height: 250px;
            }

            .box__text {
                h1 {
                    text-align: center;
                }

                h2 {
                    text-align: center;
                }

                @media screen and (min-width:$desktop) {
                    h1 {
                        text-align: start;
                    }

                    h2 {
                        text-align: start;
                    }
                }


            }

            @media screen and (min-width:$desktop) {
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 8rem;
            }

        }
    }

    .wrapper>header {
        margin: auto;
        border-radius: 15px;
    }

    header {
        display: flex;
        background-color: $color-cream;
        justify-content: center;
        max-width: 300px;
        height: 50px;
        overflow: hidden;
        position: relative;

        @media screen and (min-width:$desktop) {
            max-width: 600px;
            height: 50px;
        }

        #active {
            font-weight: bold;
            text-decoration: underline;
        }

        a.hamburger {
            display: block;
            color: $color-navy;
            position: absolute;
            top: 15px;

            @media screen and (min-width:$desktop) {
                display: none;
            }

        }

        @media screen and (min-width:$desktop) {
            top: 600px;
            position: relative;
            align-items: center;
            height: 50px;

            #name {
                display: none;
            }
        }

        #name {
            color: $color-black;
            gap: 3rem;
            align-self: center;
            margin-right: 2rem;
        }

        ul.navButtons {
            padding: 0;
            display: flex;
            justify-content: space-evenly;
            gap: 1rem;
            display: none;


            @media screen and (min-width:$desktop) {
                display: flex;
                gap: 1rem;

            }

            li {
                list-style: none;
            }

            a {
                color: $color-black;
                text-decoration: none;
            }
        }
    }

    .yellowUnderline {
        color: $color-yellow;
        text-decoration: underline;
    }

    h2 {

        span {
            width: 200px;
            height: 100px;
            position: relative;
        }

        #role:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $color-navy;
            border-left: 2px solid $color-yellow;
            animation: animate 4s steps(12) infinite;
        }

        @keyframes animate {

            40%,
            60% {
                left: 100%
            }

            100% {
                left: 0%
            }
        }
    }



    a {
        background-color: $color-cream;
        border-radius: 50%;

    }

    .icons {
        ul {
            display: flex;
            flex-direction: row;
            padding: 0;
            gap: 10px;
            margin-top: 1rem;
            justify-content: center;

            @media screen and (min-width:$desktop) {
                justify-content: start;
            }

        }

    }





    .icon-circle {
        background-color: $color-cream;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;

        li {
            color: $color-navy;
        }

        a {
            color: $color-navy;
        }
    }
}

footer {
    margin-top: 3rem;
    padding: 0;

    p {
        font-size: 0.8*$base-font-size;
        text-align: center;
    }
}

@import "about.scss";
@import "projects.scss";
@import "skills.scss";
@import "workExp.scss";
@import "contact.scss";