#root {
  position: relative;
  text-align: center;
  width: 100vw;
  background-color: #141416;
  min-height: 100vh;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari) */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
}

/* Ensure the element remains scrollable */
.hide-scrollbar {
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}