@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #141416;
  width: 100%;
  overflow-x: hidden;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#icon {
  width: 30px;
  height: 30px;
  background-size: contain;
}